# Node.js
node_modules/
npm-debug.log*
yarn-error.log*

# SO / Editor
.DS_Store
Thumbs.db

# Env / Secrets
.env
.env.local
.env.*.local

# Cypress artifacts
cypress/screenshots/
cypress/videos/

# Builds / Relatórios
dist/
build/
coverage/
